@import "bourbon";
@import "neat";
@import "compass";

$primary: #ff5800;
$pale: #f2f2f2;
$aside_text: #999;
$label_text: #666;

$header_height: 10em;

$fancy_font: 'Francois One', sans-serif;

body {
  @include outer-container;
}
header {
  img#picture { }
  height: $header_height;
  background: $pale;
  position: relative;
  h1 {
    @include span-columns(6 of 8);
  }
  nav {
    @include span-columns(8 of 8);
  }
}

